* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
}

.head{
    background-color: rgb(255, 255, 255);
    color: #b0b0ba;
    padding: 10px;
    border-radius: 10px;
    border-width: 20px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 80px;
    line-height: 40px;
    
}
.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 80px;
    line-height: 61px;
  }
  
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('https://d1vcy8ih94g58p.cloudfront.net/eyJrZXkiOiIyNzI2ODRcL3NTU1RjMUJCcGRoMXE0a0tQRjFGcjBWd2J4U0JWTUJNczdiSDJXazkuanBlZyIsImJ1Y2tldCI6IndpcmVzdG9jay1vcmlnaW5hbC1wcm9kdWN0aW9uIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJmaXQiOiJjb3ZlciJ9LCJvdmVybGF5V2l0aCI6eyJidWNrZXQiOiJ3aXJlc3RvY2stb3JpZ2luYWwtcHJvZHVjdGlvbiIsImtleSI6IndhdGVybWFya3NcL3dhdGVybWFyay5wbmcifSwianBlZyI6eyJxdWFsaXR5Ijo4MH19fQ==?signature=9943369e000d8ab2eca5b47d134666219a0a31baa957314f990f36dcb887c6ae');
}
.card[for="c2"] {
    background-image: url('https://d1vcy8ih94g58p.cloudfront.net/eyJrZXkiOiIyNzI2ODRcL3RTRFBFd1B3UnlteVZEbFlqbUlrOUJIN29Gdnd5VERUcHNqNkx5Q1MuanBlZyIsImJ1Y2tldCI6IndpcmVzdG9jay1vcmlnaW5hbC1wcm9kdWN0aW9uIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJmaXQiOiJjb3ZlciJ9LCJvdmVybGF5V2l0aCI6eyJidWNrZXQiOiJ3aXJlc3RvY2stb3JpZ2luYWwtcHJvZHVjdGlvbiIsImtleSI6IndhdGVybWFya3NcL3dhdGVybWFyay5wbmcifSwianBlZyI6eyJxdWFsaXR5Ijo4MH19fQ==?signature=163d7c62980ee3d9000ccd1ea3fe4c375cee9416cae8624e82b177fbe3178344');
}
.card[for="c3"] {
    background-image: url('https://d1vcy8ih94g58p.cloudfront.net/eyJrZXkiOiIyNzI2ODRcL0NacEpFZjFJOHlYM00wMHc0emhOU2hTUWlyNGNkaXBKeHgxUUFXMUEuanBlZyIsImJ1Y2tldCI6IndpcmVzdG9jay1vcmlnaW5hbC1wcm9kdWN0aW9uIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJmaXQiOiJjb3ZlciJ9LCJvdmVybGF5V2l0aCI6eyJidWNrZXQiOiJ3aXJlc3RvY2stb3JpZ2luYWwtcHJvZHVjdGlvbiIsImtleSI6IndhdGVybWFya3NcL3dhdGVybWFyay5wbmcifSwianBlZyI6eyJxdWFsaXR5Ijo4MH19fQ==?signature=74bd6803d25e9aeade4f0738f70e8ef1f97b7962c2660861c15ddb26ae829b23');
}
.card[for="c4"] {
    background-image: url('https://d1vcy8ih94g58p.cloudfront.net/eyJrZXkiOiIyNzI2ODRcL0UwNWZJSTJld2YyWDB3b3FOQmwzVDU4Q3hXWk9sOWZjWDRKTlViaEMuanBlZyIsImJ1Y2tldCI6IndpcmVzdG9jay1vcmlnaW5hbC1wcm9kdWN0aW9uIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMDI0LCJmaXQiOiJjb3ZlciJ9LCJvdmVybGF5V2l0aCI6eyJidWNrZXQiOiJ3aXJlc3RvY2stb3JpZ2luYWwtcHJvZHVjdGlvbiIsImtleSI6IndhdGVybWFya3NcL3dhdGVybWFyay5wbmcifSwianBlZyI6eyJxdWFsaXR5Ijo4MH19fQ==?signature=b91bf30f04f5c96139ee8a058a893f86a85dd05398d8edf98f7aa7752b799a0c');
}